body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url('./../assets/img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #f4f4f4;
}


header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid #f39c12;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1.5rem;
}

nav ul li a {
    color: #f39c12;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.4s, transform 0.2s;
}

section {
    padding: 2.5rem;
    margin: 2rem 0;
    /* background-color: #2c2c2c; */
    border-radius: 15px;
    box-shadow: 0 4 30px rgba(0, 0, 0, 0.5);
}

.imgsocial{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin: 0 10px;
    display: flex;
}

h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.gallery-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery-container img {
    max-width: 30%;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    padding: 30px;
    text-align: center;
}

.myfooter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-widget {
    margin-bottom: 20px;
}

.widget-title {
    color: #f39c12;
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-widget h4{
    color: #f39c12;
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-list {
    list-style: none;
    padding: 0;
}

.contact-list li {
    margin-bottom: 10px;
}

.contact-list a {
    color: #f39c12;
    text-decoration: none;
}

.contact-list a:hover {
    text-decoration: underline;
}

button.btn-primary {
    background-color: #f39c12;
    border-color: #f39c12;
}

button.btn-primary:hover {
    background-color: #e08e0b;
    border-color: #e08e0b;
}

.logo {
    height: 150px;
    width: auto;
}

.img-button {
    display: inline-block;
    /* border: 2px solid #f8f8f8; */
    /* border-radius: 5px; */
    overflow: hidden;
}

.img-button img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.img-button:hover img {
    transform: scale(1.05);
}

.social_media_icons {
    margin-top: 20px;
    display: flex; 
    justify-content: center;
}
.social_media_icons a {
    display: inline-block;
    margin: 0 10px;
}
.social_media_icon {
    width: 32px;
    height: 32px;
    margin-top: 10px;
}

.slider-container {
    width: 300px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.slider-image {
    display: flex;
    transition: transform 0.5s ease;
}

.slider-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    outline: none;
    z-index: 1;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.myborder {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 30px 0px;
    box-sizing: border-box;
    line-height: 24px;
    margin-bottom: 32px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 32px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 48px;
}
