body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;

    background: url('./assets/img/bg.jpg');
    color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    margin: 1rem 0;
    background-color: #2c2c2c;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery-container img {
    max-width: 30%;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    padding: 30px;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-widget {
    margin-bottom: 20px;
}

.contact-widget h4 {
    color: #f39c12;
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-list {
    list-style: none;
    padding: 0;
}

.contact-list li {
    margin-bottom: 10px;
}

.contact-list a {
    color: #f39c12;
    text-decoration: none;
}

.contact-list a:hover {
    text-decoration: underline;
}

button.btn-primary {
    background-color: #f39c12;
    border-color: #f39c12;
}

button.btn-primary:hover {
    background-color: #e08e0b;
    border-color: #e08e0b;
}

.logo {
    height: 150px;
    width: auto;
}

.img-button {
    display: inline-block;
    border: 2px solid #f8f8f8;
    border-radius: 5px;
    overflow: hidden;
}

.img-button img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.img-button:hover img {
    transform: scale(1.05);
}

.social_media_icons {
    margin-top: 20px;
    display: flex; 
    justify-content: center;
}
.social_media_icons a {
    display: inline-block;
    margin: 0 10px;
}
.social_media_icon {
    width: 32px;
    height: 32px;
    margin-top: 10px;
}

.slider-container {
    width: 300px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.slider-image {
    display: flex;
    transition: transform 0.5s ease;
}

.slider-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    outline: none;
    z-index: 1;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}
