body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('./../../assets/img/bg.jpg');
    background-color: #1a1a1a;
    color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    margin: 1rem 0;
    background-color: #2c2c2c;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery-container img {
    max-width: 30%;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    padding: 30px;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-widget {
    margin-bottom: 20px;
}

.contact-widget h4 {
    color: #f39c12;
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-list {
    list-style: none;
    padding: 0;
}

.contact-list li {
    margin-bottom: 10px;
}

.contact-list a {
    color: #f39c12;
    text-decoration: none;
}

.contact-list a:hover {
    text-decoration: underline;
}

button.btn-primary {
    background-color: #f39c12;
    border-color: #f39c12;
}

button.btn-primary:hover {
    background-color: #e08e0b;
    border-color: #e08e0b;
}

.button-container {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 100px;
    margin: 0 auto;
    padding: 11px;
    background-color: #333;
    border: 1px solid #d0d3da;
    border-radius: 5px;
    text-align: center;

}

.logo {
    height: 150px;
    width: auto;
}
